#container-principal{
    background-color: #f5f5dc;
}

.hidden {
    display: none;
}

#displays{
    background-color: whitesmoke;
    margin: 8px 0 8px 0 !important;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.card-body{
    padding-bottom: 0 !important;
}

#btn_operadores{
    width: 100%;
    height: 50px;
    font-size: 1.25rem;
}

#btn_numeros{
    width: 100%;
    height: 50px;
    font-size: 1.25rem;
}